main {
    background-color: lightgrey;
    border-radius: 10px;
    height: contain;
    margin-top: 50px;
  }
  
  #img-div {
    background-color: white;
    text-align: center;
    padding: 20 0 0 0;
    margin: 0 30 0 30;
    border-radius: 10px;
  }
  
  #main > h1{
  text-align: center;
  padding-top: 30px;
  }
  
  #main > p {
    text-align: center;
  }
  
  #img-caption {
    padding:20 0 20 0;
  }
  #image {
    align-items: center;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  img {
    display: block;
    align-items: center;
  }
  h3{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  
  .year {
    font-weight: bold;
  }
  
  #tribute-info {
    text-align: left;
    list-style-position: inside;
    max-width: 500px;
    display: inline-block;
    
  }
  
  .container {
    text-align: center;
  }
  
  .quote {
    font-style: italic;
    max-width: 500px;
    text-align: center;
    display: inline-block;
  }
  
  .info {
  padding: 0 0 50 0;
  margin: 50 0 0 0;
  }